@import '@components/library/style/core/var.scss';

$classname: 'home_';

.#{$classname} {
    font-family: 'Microsoft JhengHei';

    > .title {
        text-align: center;
    }

    > .input {
        text-align: center;
        margin: 10px;
        box-sizing: border-box;
    }

    > .userinfo {
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        max-width: 400px;
        text-align: center;
        background: lightgray;
        font-size: 20px;

        > div {
            margin: 10px auto;
            font-size: 16px;
        }
    }
    > .img {
        width: 183px;
        height: 150px;
        overflow: hidden;
        > img {
            animation: gif steps(19) 2.8s infinite both;
            @keyframes gif {
                0% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
        }
    }
}
